---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro';
import {getAllUniqueTags} from '@scripts/utils.js';

export async function getStaticPaths()  {
    const allPosts = await Astro.glob('../posts/*.md');
    const uniqueTags = getAllUniqueTags(allPosts);

    return uniqueTags.map((tag)=> {
        const filteredPosts = allPosts.filter(post => post.frontmatter.tags?.includes(tag));
        return ({params: {tag}, props:{posts: filteredPosts}})
    });
}

const {tag} = Astro.params;
const {posts} = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>

    <ol>
        {posts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description}/>
        ))}
    </ol>
</BaseLayout>